.tour-box {
    display: block;
    position: absolute;
    padding: 0;
    width: 350px;

    border: 0;
    background-color: #ffffff;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    animation: show .5s ease-in-out;
    transition: all .5s ease;

    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    color: #777;
}

@keyframes show {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);

    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.tour-message {
    text-align: center;
    padding: 15px;
}

.tour-resource > img, video {
    width: 100%;
    height: 100%;
}

.tour-action {
    display: block;
    width: 100%;
}

.tour-close + .tour-message {
    margin: 10px 0 0 0;
}

.tour-close {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 5px;

    border: 0;
    background-color: transparent;
    color: #d3dce6;

    cursor: pointer;
}

.tour-close:hover {
    color: #777;
}

.tour-action > button {
    float: left;
    width: 50%;
    padding: 10px 5px;
    border: 1px solid #d3dce6;
    background-color: #fff;

    cursor: pointer;
    color: #9facbd;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tour-action > button:hover {
    color: #777;
    border: 1px solid #ccc;
}

.tour-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 900;

    background-color: rgba(0, 0, 0, 0.8);

    animation: overlay .5s linear;
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}